name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Download test files from Google Drive
      run: |
        curl -L "https://drive.google.com/uc?export=download&id=1ZP4J3KO3XbrQ4YYQHxMPwn-t6x1DByTc" -o village.txt
        curl -L "https://drive.google.com/uc?export=download&id=11EWaIunT5ecl7Fc8V_YVYqkPdtI4lKDa" -o PhoneBook.txt
        curl -L "https://drive.google.com/uc?export=download&id=1iUyqLmfRWh3JMhhlSpcXI3O6Rmmo-vMR" -o small-town.txt
        curl -L "https://drive.google.com/uc?export=download&id=1VqiZ8HfMLGLNN5xg5Wl4yS6g3K2-AUfq" -o town.txt
        curl -L "https://drive.google.com/uc?export=download&id=1ZX3fkdLLYIfazkY9SHQMlpGou-kZsZeB" -o large-town.txt
        curl -L "https://drive.google.com/uc?export=download&id=1LoVJe8JKEoTQAzQ6Leccb4AljihbD27_" -o city.txt
        curl -L "https://drive.google.com/uc?export=download&id=1ZuMPG7ot4gxlFBnNiaevC0bwVHxQpvq-" -o large-city.txt
        curl -L "https://drive.google.com/uc?export=download&id=1IOnSGmArZ2P8GQH9IRCImDI--Lv6__6c" -o metropolis.txt
        curl -L "https://drive.google.com/uc?export=download&id=11EWaIunT5ecl7Fc8V_YVYqkPdtI4lKDa" -o capital.txt
        curl -L "https://drive.google.com/uc?export=download&id=1B0bOYatJO6j3H-LAXFNsoYia0ay146YU" -o megalopolis.txt
    - name: Generic test for slow array
      id: generic-test-for-slow-array
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Generic test for slow array
        setup-command: mvn compile
        command: mvn -Dtest=GenericTests#testSlowArray test
        timeout: 10
    - name: Generic tests for HT
      id: generic-tests-for-ht
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Generic tests for HT
        setup-command: mvn compile
        command: mvn -Dtest=GenericTests#testHashTable test
        timeout: 10
    - name: Generic tests for BST
      id: generic-tests-for-bst
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Generic tests for BST
        setup-command: mvn compile
        command: mvn -Dtest=GenericTests#testBST test
        timeout: 10
    - name: Test adding identical keys
      id: test-adding-identical-keys
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test adding identical keys
        setup-command: mvn compile
        command: mvn -Dtest=GenericTests#testAddingIdenticalKeys test
        timeout: 10
    - name: Test adding identical keys BST
      id: test-adding-identical-keys-bst
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test adding identical keys BST
        setup-command: mvn compile
        command: mvn -Dtest=ContentsTests#testAddingIdenticalKeysBST test
        timeout: 10
    - name: Test adding identical keys HT
      id: test-adding-identical-keys-ht
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test adding identical keys HT
        setup-command: mvn compile
        command: mvn -Dtest=ContentsTests#testAddingIdenticalKeysHashTable test
        timeout: 10
    - name: Test sort order of BST
      id: test-sort-order-of-bst
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test sort order of BST
        setup-command: mvn compile
        command: mvn -Dtest=ContentsTests#testSortOrderBST test
        timeout: 10
    - name: Test sort order of HT
      id: test-sort-order-of-ht
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test sort order of HT
        setup-command: mvn compile
        command: mvn -Dtest=ContentsTests#testSortOrderHashtable test
        timeout: 10
    - name: BST with identical hash different object
      id: bst-with-identical-hash-different-object
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: BST with identical hash different object
        setup-command: mvn compile
        command: mvn -Dtest=HashFuncTests#testBSTWithIdenticalHashDifferentObject
          test
        timeout: 10
    - name: HT with identical hash different object
      id: ht-with-identical-hash-different-object
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: HT with identical hash different object
        setup-command: mvn compile
        command: mvn -Dtest=HashFuncTests#testHashtableWithIdenticalHashDifferentObject
          test
        timeout: 10
    - name: readAll
      id: readAll
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Read All
        setup-command: mvn compile
        command: mvn -Dtest=PhoneBookTests test
        timeout: 10
    #- name: Read from file to slow phonebook
    #  id: read-from-file-to-slow-phonebook
    #  uses: classroom-resources/autograding-command-grader@v1
    #  with:
    #    test-name: Read from file to slow phonebook
    #    setup-command: mvn compile
    #    command: mvn -Dtest=PhoneBookTests#readFromFileToSlowPhoneBook test
    #    timeout: 10
    #- name: Read from file to BST
    #  id: read-from-file-to-bst
    #  uses: classroom-resources/autograding-command-grader@v1
    #  with:
    #    test-name: Read from file to BST
    #    setup-command: mvn compile
    #    command: mvn -Dtest=PhoneBookTests#readFromFileToBST test
    #    timeout: 10
    #- name: Read from file to HT
    #  id: read-from-file-to-ht
    #  uses: classroom-resources/autograding-command-grader@v1
    #  with:
    #    test-name: Read from file to HT
    #    setup-command: mvn compile
    #    command: mvn -Dtest=PhoneBookTests#readFromFileToHashtable test
    #    timeout: 10
    #- name: Check if faster solutions are enough faster than the slow solution
    #  id: check-if-faster-solutions-are-enough-faster-than-the-slow-solution
    #  uses: classroom-resources/autograding-command-grader@v1
    #  with:
    #    test-name: Check if faster solutions are enough faster than the slow solution
    #    setup-command: mvn compile
    #    command: mvn -Dtest=PhoneBookTests#printStatistics test
    #    timeout: 10
    - name: Performance tests add BST
      id: performance-tests-add-bst
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Performance tests add BST
        setup-command: mvn compile
        command: mvn -Dtest=PerformanceTestsAdd#handleReadTestFilesWithBST test
        timeout: 10
    - name: Performance tests add HT
      id: performance-tests-add-ht
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Performance tests add HT
        setup-command: mvn compile
        command: mvn -Dtest=PerformanceTestsAdd#handleReadTestFilesWithHashTable test
        timeout: 10
    - name: Performance tests to array BST
      id: performance-tests-to-array-bst
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Performance tests to array BST
        setup-command: mvn compile
        command: mvn -Dtest=PerformanceTestsToArray#handleReadTestFilesWithBST test
        timeout: 10
    - name: Performance tests to array HT
      id: performance-tests-to-array-ht
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Performance tests to array HT
        setup-command: mvn compile
        command: mvn -Dtest=PerformanceTestsToArray#handleReadTestFilesWithHashTable
          test
        timeout: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        GENERIC-TEST-FOR-SLOW-ARRAY_RESULTS: "${{steps.generic-test-for-slow-array.outputs.result}}"
        GENERIC-TESTS-FOR-HT_RESULTS: "${{steps.generic-tests-for-ht.outputs.result}}"
        GENERIC-TESTS-FOR-BST_RESULTS: "${{steps.generic-tests-for-bst.outputs.result}}"
        TEST-ADDING-IDENTICAL-KEYS_RESULTS: "${{steps.test-adding-identical-keys.outputs.result}}"
        TEST-ADDING-IDENTICAL-KEYS-BST_RESULTS: "${{steps.test-adding-identical-keys-bst.outputs.result}}"
        TEST-ADDING-IDENTICAL-KEYS-HT_RESULTS: "${{steps.test-adding-identical-keys-ht.outputs.result}}"
        TEST-SORT-ORDER-OF-BST_RESULTS: "${{steps.test-sort-order-of-bst.outputs.result}}"
        TEST-SORT-ORDER-OF-HT_RESULTS: "${{steps.test-sort-order-of-ht.outputs.result}}"
        BST-WITH-IDENTICAL-HASH-DIFFERENT-OBJECT_RESULTS: "${{steps.bst-with-identical-hash-different-object.outputs.result}}"
        HT-WITH-IDENTICAL-HASH-DIFFERENT-OBJECT_RESULTS: "${{steps.ht-with-identical-hash-different-object.outputs.result}}"
        READ-FROM-FILE-TO-SLOW-PHONEBOOK_RESULTS: "${{steps.read-from-file-to-slow-phonebook.outputs.result}}"
        READ-FROM-FILE-TO-BST_RESULTS: "${{steps.read-from-file-to-bst.outputs.result}}"
        READ-FROM-FILE-TO-HT_RESULTS: "${{steps.read-from-file-to-ht.outputs.result}}"
        CHECK-IF-FASTER-SOLUTIONS-ARE-ENOUGH-FASTER-THAN-THE-SLOW-SOLUTION_RESULTS: "${{steps.check-if-faster-solutions-are-enough-faster-than-the-slow-solution.outputs.result}}"
        PERFORMANCE-TESTS-ADD-BST_RESULTS: "${{steps.performance-tests-add-bst.outputs.result}}"
        PERFORMANCE-TESTS-ADD-HT_RESULTS: "${{steps.performance-tests-add-ht.outputs.result}}"
        PERFORMANCE-TESTS-TO-ARRAY-BST_RESULTS: "${{steps.performance-tests-to-array-bst.outputs.result}}"
        PERFORMANCE-TESTS-TO-ARRAY-HT_RESULTS: "${{steps.performance-tests-to-array-ht.outputs.result}}"
      with:
        runners: generic-test-for-slow-array,generic-tests-for-ht,generic-tests-for-bst,test-adding-identical-keys,test-adding-identical-keys-bst,test-adding-identical-keys-ht,test-sort-order-of-bst,test-sort-order-of-ht,bst-with-identical-hash-different-object,ht-with-identical-hash-different-object,read-from-file-to-slow-phonebook,read-from-file-to-bst,read-from-file-to-ht,check-if-faster-solutions-are-enough-faster-than-the-slow-solution,performance-tests-add-bst,performance-tests-add-ht,performance-tests-to-array-bst,performance-tests-to-array-ht
